# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# PyInstaller
dist/
build/
*.spec

# Sanal ortam
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Geçici
*.log
*.tmp
